.expense-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 16px;

}
.expense-grid-to-cart {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.shoppingList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #c0fadb;
}